

ul {
    background-color: rgb(2, 93, 184);
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 8px;
    height: 30px;
    list-style-type: none;
  
}

* {
    text-decoration: none;
}

.playersContainer {
  display: flex;
  flex-wrap: wrap;

    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    background-color: rgb(2, 93, 184) ;
    box-shadow: 12px;
    padding: 12px;
    border-radius: 8px;
  }
  
  h3 {
    color: white;
  }

  h1 {
    font-size: 20px;
  }
  .playerCard{
    margin: 2%;
    background-color: lightblue;
    width: 20%;
    border-radius: 20px;
  }
  .playerCard img{
    width: 100%;
    border-radius: 20px;
  }